@media (--lg-viewport) {
  .flex-lg {
    display: flex;
  }
  .flex-lg-inline {
    display: inline-flex;
  }
  .flex-lg-row {
    flex-direction: row;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-lg-col {
    flex-direction: column;
  }
  .flex-lg-col-reverse {
    flex-direction: column-reverse;
  }
  .flex-lg-wrap {
    flex-wrap: wrap;
  }
  .flex-lg-no-wrap {
    flex-wrap: nowrap;
  }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .flex-lgjustify-start {
    justify-content: flex-start;
  }
  .flex-lgjustify-end {
    justify-content: flex-end;
  }
  .flex-lgjustify-center {
    justify-content: center;
  }
  .flex-lgjustify-between {
    justify-content: space-between;
  }
  .flex-lgjustify-around {
    justify-content: space-around;
  }
  .flex-lg-align-start {
    align-items: flex-start;
  }
  .flex-lg-align-end {
    align-items: flex-end;
  }
  .flex-lg-align-center {
    align-items: center;
  }
  .flex-lg-align-stretch {
    align-items: stretch;
  }
  .flex-lg-align-baseline {
    align-items: baseline;
  }
  .flex-lg-align-content-start {
    align-content: flex-start;
  }
  .flex-lg-align-content-end {
    align-content: flex-end;
  }
  .flex-lg-align-content-center {
    align-content: center;
  }
  .flex-lg-align-content-stretch {
    align-content: stretch;
  }
  .flex-lg-align-content-between {
    align-content: space-between;
  }
  .flex-lg-align-content-around {
    align-content: space-around;
  }
  .flex-lg-align-self-start {
    align-self: flex-start;
  }
  .flex-lg-align-self-end {
    align-self: flex-end;
  }
  .flex-lg-align-self-center {
    align-self: center;
  }
  .flex-lg-align-self-stretch {
    align-self: stretch;
  }
  .flex-lg-align-self-baseline {
    align-self: baseline;
  }
  .flex-lg-align-self-auto {
    align-self: auto;
  }
  .flex-lg-order-first {
    order: -1;
  }
  .flex-lg-order-last {
    order: 1;
  }
  .flex-lg-order-none {
    order: 0;
  }
  .flex-lg-grow1 {
    flex: 1 1 0%;
  }
  .flex-lg-grow2 {
    flex: 2 1 0%;
  }
  .flex-lg-grow3 {
    flex: 3 1 0%;
  }
  .flex-lg-grow4 {
    flex: 4 1 0%;
  }
  .flex-lg-grow5 {
    flex: 5 1 0%;
  }
  .flex-lg-shrink0 {
    flex-shrink: 0;
  }
  .flex-lg-shrink1 {
    flex-shrink: 1;
  }
  .flex-lg-shrink2 {
    flex-shrink: 2;
  }
  .flex-lg-shrink3 {
    flex-shrink: 3;
  }
  .flex-lg-shrink4 {
    flex-shrink: 4;
  }
  .flex-lg-shrink5 {
    flex-shrink: 5;
  }
  .flex-lg-expand {
    margin: auto;
  }
  .flex-lg-expand-left {
    margin-left: auto;
  }
  .flex-lg-expand-right {
    margin-right: auto;
  }
  .flex-lg-expand-top {
    margin-top: auto;
  }
  .flex-lg-expand-bottom {
    margin-bottom: auto;
  }
  .flex-lg-basis-auto {
    flex-basis: auto;
  }
  .flex-lg-basis-0 {
    flex-basis: 0;
  }
  .flex-lg-initial {
    flex: 0 1 auto;
    flex-basis: auto;
  }
  .flex-lg-auto {
    flex: 1 1 auto;
    flex-basis: auto;
  }
  .flex-lg-none {
    flex: 0 0 auto;
    flex-basis: auto;
  }
}
@media (--md-viewport) {
  .flex-md {
    display: flex;
  }
  .flex-md-inline {
    display: inline-flex;
  }
  .flex-md-row {
    flex-direction: row;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-md-col {
    flex-direction: column;
  }
  .flex-md-col-reverse {
    flex-direction: column-reverse;
  }
  .flex-md-wrap {
    flex-wrap: wrap;
  }
  .flex-md-no-wrap {
    flex-wrap: nowrap;
  }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .flex-mdjustify-start {
    justify-content: flex-start;
  }
  .flex-mdjustify-end {
    justify-content: flex-end;
  }
  .flex-mdjustify-center {
    justify-content: center;
  }
  .flex-mdjustify-between {
    justify-content: space-between;
  }
  .flex-mdjustify-around {
    justify-content: space-around;
  }
  .flex-md-align-start {
    align-items: flex-start;
  }
  .flex-md-align-end {
    align-items: flex-end;
  }
  .flex-md-align-center {
    align-items: center;
  }
  .flex-md-align-stretch {
    align-items: stretch;
  }
  .flex-md-align-baseline {
    align-items: baseline;
  }
  .flex-md-align-content-start {
    align-content: flex-start;
  }
  .flex-md-align-content-end {
    align-content: flex-end;
  }
  .flex-md-align-content-center {
    align-content: center;
  }
  .flex-md-align-content-stretch {
    align-content: stretch;
  }
  .flex-md-align-content-between {
    align-content: space-between;
  }
  .flex-md-align-content-around {
    align-content: space-around;
  }
  .flex-md-align-self-start {
    align-self: flex-start;
  }
  .flex-md-align-self-end {
    align-self: flex-end;
  }
  .flex-md-align-self-center {
    align-self: center;
  }
  .flex-md-align-self-stretch {
    align-self: stretch;
  }
  .flex-md-align-self-baseline {
    align-self: baseline;
  }
  .flex-md-align-self-auto {
    align-self: auto;
  }
  .flex-md-order-first {
    order: -1;
  }
  .flex-md-order-last {
    order: 1;
  }
  .flex-md-order-none {
    order: 0;
  }
  .flex-md-grow1 {
    flex: 1 1 0%;
  }
  .flex-md-grow2 {
    flex: 2 1 0%;
  }
  .flex-md-grow3 {
    flex: 3 1 0%;
  }
  .flex-md-grow4 {
    flex: 4 1 0%;
  }
  .flex-md-grow5 {
    flex: 5 1 0%;
  }
  .flex-md-shrink0 {
    flex-shrink: 0;
  }
  .flex-md-shrink1 {
    flex-shrink: 1;
  }
  .flex-md-shrink2 {
    flex-shrink: 2;
  }
  .flex-md-shrink3 {
    flex-shrink: 3;
  }
  .flex-md-shrink4 {
    flex-shrink: 4;
  }
  .flex-md-shrink5 {
    flex-shrink: 5;
  }
  .flex-md-expand {
    margin: auto;
  }
  .flex-md-expand-left {
    margin-left: auto;
  }
  .flex-md-expand-right {
    margin-right: auto;
  }
  .flex-md-expand-top {
    margin-top: auto;
  }
  .flex-md-expand-bottom {
    margin-bottom: auto;
  }
  .flex-md-basis-auto {
    flex-basis: auto;
  }
  .flex-md-basis-0 {
    flex-basis: 0;
  }
  .flex-md-initial {
    flex: 0 1 auto;
    flex-basis: auto;
  }
  .flex-md-auto {
    flex: 1 1 auto;
    flex-basis: auto;
  }
  .flex-md-none {
    flex: 0 0 auto;
    flex-basis: auto;
  }
}
@media (--sm-viewport) {
  .flex-sm {
    display: flex;
  }
  .flex-sm-inline {
    display: inline-flex;
  }
  .flex-sm-row {
    flex-direction: row;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-sm-col {
    flex-direction: column;
  }
  .flex-sm-col-reverse {
    flex-direction: column-reverse;
  }
  .flex-sm-wrap {
    flex-wrap: wrap;
  }
  .flex-sm-no-wrap {
    flex-wrap: nowrap;
  }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .flex-smjustify-start {
    justify-content: flex-start;
  }
  .flex-smjustify-end {
    justify-content: flex-end;
  }
  .flex-smjustify-center {
    justify-content: center;
  }
  .flex-smjustify-between {
    justify-content: space-between;
  }
  .flex-smjustify-around {
    justify-content: space-around;
  }
  .flex-sm-align-start {
    align-items: flex-start;
  }
  .flex-sm-align-end {
    align-items: flex-end;
  }
  .flex-sm-align-center {
    align-items: center;
  }
  .flex-sm-align-stretch {
    align-items: stretch;
  }
  .flex-sm-align-baseline {
    align-items: baseline;
  }
  .flex-sm-align-content-start {
    align-content: flex-start;
  }
  .flex-sm-align-content-end {
    align-content: flex-end;
  }
  .flex-sm-align-content-center {
    align-content: center;
  }
  .flex-sm-align-content-stretch {
    align-content: stretch;
  }
  .flex-sm-align-content-between {
    align-content: space-between;
  }
  .flex-sm-align-content-around {
    align-content: space-around;
  }
  .flex-sm-align-self-start {
    align-self: flex-start;
  }
  .flex-sm-align-self-end {
    align-self: flex-end;
  }
  .flex-sm-align-self-center {
    align-self: center;
  }
  .flex-sm-align-self-stretch {
    align-self: stretch;
  }
  .flex-sm-align-self-baseline {
    align-self: baseline;
  }
  .flex-sm-align-self-auto {
    align-self: auto;
  }
  .flex-sm-order-first {
    order: -1;
  }
  .flex-sm-order-last {
    order: 1;
  }
  .flex-sm-order-none {
    order: 0;
  }
  .flex-sm-grow1 {
    flex: 1 1 0%;
  }
  .flex-sm-grow2 {
    flex: 2 1 0%;
  }
  .flex-sm-grow3 {
    flex: 3 1 0%;
  }
  .flex-sm-grow4 {
    flex: 4 1 0%;
  }
  .flex-sm-grow5 {
    flex: 5 1 0%;
  }
  .flex-sm-shrink0 {
    flex-shrink: 0;
  }
  .flex-sm-shrink1 {
    flex-shrink: 1;
  }
  .flex-sm-shrink2 {
    flex-shrink: 2;
  }
  .flex-sm-shrink3 {
    flex-shrink: 3;
  }
  .flex-sm-shrink4 {
    flex-shrink: 4;
  }
  .flex-sm-shrink5 {
    flex-shrink: 5;
  }
  .flex-sm-expand {
    margin: auto;
  }
  .flex-sm-expand-left {
    margin-left: auto;
  }
  .flex-sm-expand-right {
    margin-right: auto;
  }
  .flex-sm-expand-top {
    margin-top: auto;
  }
  .flex-sm-expand-bottom {
    margin-bottom: auto;
  }
  .flex-sm-basis-auto {
    flex-basis: auto;
  }
  .flex-sm-basis-0 {
    flex-basis: 0;
  }
  .flex-sm-initial {
    flex: 0 1 auto;
    flex-basis: auto;
  }
  .flex-sm-auto {
    flex: 1 1 auto;
    flex-basis: auto;
  }
  .flex-sm-none {
    flex: 0 0 auto;
    flex-basis: auto;
  }
}
@custom-media --sm-viewport (min-width:480px) and (max-width:640px);
@custom-media --md-viewport (min-width:640px) and (max-width:960px);
@custom-media --lg-viewport (min-width:960px);
